{:duct.core/project-ns  duct-sample
 :duct.core/environment :production

 :duct.module/logging {}
 :duct.module/web {}
 :duct.module/sql {}

 :duct.module/ataraxy
 {[:get "/example"] [:example]
  ["/users/"] {[:get ""] [:user-index]
               [:get "new"] [:user-new]
               [:post {body :params}] [:user-create body]
               [:get id] [:user-show id]
               [:get id "/edit"] [:user-edit id]
               [:post id "/update" {body :params}] [:user-update id body]
               [:post id "/delete"] [:user-destroy id]}}

 :duct-sample.handler/example
 {:db #ig/ref :duct.database/sql}

 :duct-sample.handler/user-index
 {:db #ig/ref :duct.database/sql}

 :duct-sample.handler/user-new
 {:db #ig/ref :duct.database/sql}

 :duct-sample.handler/user-create
 {:db #ig/ref :duct.database/sql}

 :duct-sample.handler/user-show
 {:db #ig/ref :duct.database/sql}

 :duct-sample.handler/user-edit
 {:db #ig/ref :duct.database/sql}

 :duct-sample.handler/user-update
 {:db #ig/ref :duct.database/sql}

 :duct-sample.handler/user-destroy
 {:db #ig/ref :duct.database/sql}

 :duct.migrator/ragtime
 {:migrations [#ig/ref :duct-sample/users]}

 [:duct.migrator.ragtime/sql :duct-sample/users]
 {:up ["CREATE TABLE users (
          id    SERIAL PRIMARY KEY,
          name  varchar(255),
          email varchar(255)
        );"]
  :down ["DROP TABLE users;"]}}
